In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy

In [2]:
db_engine = sqlalchemy.create_engine("postgresql://postgres:BIDA123@localhost:5432/mock_interview")

In [3]:
game = pd.read_sql("SELECT * FROM game", db_engine)

In [4]:
game['date_time_GMT'] = pd.to_datetime(game['date_time_GMT'])

In [5]:
game.head(5)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19 00:30:00+00:00,4,16,4,7,home win REG,right,United Center,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07 00:00:00+00:00,24,7,4,3,away win OT,left,KeyBank Center,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24 01:00:00+00:00,21,52,4,1,away win REG,right,MTS Centre,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17 00:00:00+00:00,52,12,1,2,home win REG,right,PNC Arena,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30 03:00:00+00:00,20,24,1,2,home win REG,left,Honda Center,America/Los_Angeles,-7,PDT

In [6]:
game['date_time_GMT'] = game['date_time_GMT'].dt.strftime('%m/%d/%Y %H:%M %Z')

In [7]:
game.head(5)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,10/19/2016 00:30 UTC,4,16,4,7,home win REG,right,United Center,America/Chicago,-5,CDT
1,2017020812,20172018,R,02/07/2018 00:00 UTC,24,7,4,3,away win OT,left,KeyBank Center,America/New_York,-4,EDT
2,2015020314,20152016,R,11/24/2015 01:00 UTC,21,52,4,1,away win REG,right,MTS Centre,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,02/17/2016 00:00 UTC,52,12,1,2,home win REG,right,PNC Arena,America/New_York,-4,EDT
4,2017020586,20172018,R,12/30/2017 03:00 UTC,20,24,1,2,home win REG,left,Honda Center,America/Los_Angeles,-7,PDT